/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * marvin:
 *   - http://typekit.com/eulas/00000000000000007735cbe9
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2021-08-21 04:05:19 UTC"}*/

@import url("../p.typekit.net/p025c.css?s=1&amp;k=jcs8opc&amp;ht=tk&amp;f=43322&amp;a=84127765&amp;app=typekit&amp;e=css");

@font-face {
font-family:"marvin";
src:url("af/88297f/00000000000000007735cbe9/30/le196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("af/88297f/00000000000000007735cbe9/30/de196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("af/88297f/00000000000000007735cbe9/30/ae196?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

.tk-marvin { font-family: "marvin",sans-serif; }
